/* Footer */
footer {
  background-color: var(--main-color);

  .social-icons {
    text-align: left;
    &__button {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .mail {
    text-decoration: none;
  }
}
