<nav class="row align-items-center justify-content-center navbar navbar-expand-xl bg-white">
  <div class="col-12 col-md-10 d-flex flex-wrap justify-content-between align-items-center">
    <a class="navbar-brand" href="index.html">
      <img class="logo" src="img/logo.svg" alt="Логотип" />
    </a>

    <button
      class="navbar-toggler text-dark"
      type="button"
      name="Меню"
      data-bs-toggle="collapse"
      data-bs-target="#collapse_target"
    >
      <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
        <i class="fas fa-bars"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
          <a
            class="nav-link text-dark dropdown-toggle"
            id="navbarDropdownMenuLink"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >О компании</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="history.html">История</a></li>
            <li><a class="dropdown-item" href="quality-control.html">Качество продукции</a></li>
            <li><a class="dropdown-item" href="sertificates.html">Сертификаты</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="buy-products.html">Как купить продукцию</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://natr.ru/catalog/bad" target="_blank">Продукция</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="partnership.html">Партнерское соглашение</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
